@import "../../constants/constants.styl"

.container {
  perspective: $containerPerspective
  perspective-origin: center $originPerspective
}

  //TODO: find better solution
.container:before {
  content: ''
  display: inline-block
  height: $defaultSpacer
}