@import "../../constants/constants.styl"

.container
  margin-left $defaultSpacer
  perspective $containerPerspective
  perspective-origin center $originPerspective

  //TODO: find better solution
.container:before
  content ''
  display inline-block
  height $defaultSpacer
