//Container constants
//Use this constants for setting perspective to the container component

$containerPerspective = 0px
$defaultSpacer = 200px
$directionMultiplier = -3
$originPerspective = 0px

$faceOpacity = 0.9